section{
    width: 940px;
    height: 100%;
    margin: auto;
}
.text{
    width: 100%;
    font-family: $primaryFont;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 32px;
    margin-top: 89px;
    margin-bottom: 35px;
    text-align: center;
}
.first-box{
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.boxA{
    width: 300px;
    height: 400px;
    position: relative;
}
.boxA>h2{
    
    width: 250px;
    height: 58px;
    font-family: $primaryFont;
    font-style: normal;
    font-size: 24px;
    line-height: 26px;
    position: absolute;
    left: 25px;
    top: 254px;
    color: #FFFFFF;
}
.boxA>p{
    position: absolute;
    width: 250px;
    height: 57px;
    left: 25px;
    top: 322px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 14px;
    color: #E3E3E3;
}
.boxB{
    width: 300px;
    height: 400px;
    position: relative;
}
.boxB>h2{
    position: absolute;
    width: 250px;
    height: 29px;
    left: 25px;
    top: 284px;
    color: #FFFFFF;
    font-family: $primaryFont;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 14px;
}
.boxB>p{
    position: absolute;
    width: 250px;
    height: 57px;
    left: 25px;
    top: 322px;
    color: #E3E3E3;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 14px;
}
.boxC{
    width: 300px;
    height: 400px;
    position: relative;
}
.boxC>h2{
    position: absolute;
    width: 250px;
    height: 58px;
    left: 25px;
    top: 254px;
    color: #FFFFFF;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 26px;
}
.boxC>p{
    position: absolute;
    width: 250px;
    height: 57px;
    left: 25px;
    top: 322px;
    color: #E3E3E3;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 14px;
}
.secondbox{ 
    width: 100%;
    height: 205px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.boxD{
    width: 221px;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.boxD>img{
    width: 120px;
    height: 120px;
    position: absolute;
    top:0;
    left: auto;
}
.boxD>h3{
    position: absolute;
    width: 221px;
    height: 18px;
    left: 0px;
    top: 137px;
    color: #444444;
    text-align: center;
    font-family: $primaryFont;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
}
.boxD>p{
    position: absolute;
    width: 221px;
    height: 38px;
    top: 167px;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 14px;
    padding: 0 12px;
}
.boxE{
    width: 221px;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.boxE>img{
    width: 120px;
    height: 120px;
    position: absolute;
    top:0;
    left: auto;
}
.boxE>h3{
    position: absolute;
    width: 221px;
    height: 18px;
    left: 0px;
    top: 137px;
    color: #444444;
    text-align: center;
    font-family: $primaryFont;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
}
.boxE>p{
    position: absolute;
    width: 221px;
    height: 38px;
    top: 167px;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 14px;
    padding: 0 12px;
}
.boxF{
    width: 221px;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.boxF>img{
    width: 120px;
    height: 120px;
    position: absolute;
    top:0;
    left: auto;
}
.boxF>h3{
    position: absolute;
    width: 221px;
    height: 18px;
    left: 0px;
    top: 137px;
    color: #444444;
    text-align: center;
    font-family: $primaryFont;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
}
.boxF>p{
    position: absolute;
    width: 221px;
    height: 38px;
    top: 167px;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 14px;
    padding: 0 12px;
}
.boxG{
    width: 221px;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.boxG>img{
    width: 120px;
    height: 120px;
    position: absolute;
    top:0;
    left: auto;
}
.boxG>h3{
    position: absolute;
    width: 221px;
    height: 18px;
    left: 0px;
    top: 137px;
    color: #444444;
    text-align: center;
    font-family: $primaryFont;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
}
.boxG>p{
    position: absolute;
    width: 221px;
    height: 38px;
    top: 167px;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 14px;
    padding: 0 12px;
}
section>button {
    width: 180px;
    height: 40px;
    margin-top: 41px;
    margin-left: calc(50% - 90px);
    border-radius: 40px;
    color: #FF4E50;
    font-size: 14px;
    background: #FFFFFF;
    border: 2px solid #FF4E50;
}
.conteiner{
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 310px 310px 310px;
    gap: 20px;
}
.A{
    grid-column: 1/2;
    grid-row: 1/2;
    overflow: hidden;
}
.B{
    grid-column: 2/3;
    grid-row: 1/2;
    overflow: hidden;
}
.C{
    grid-column: 3/4;
    grid-row: 1/2;
    overflow: hidden;
}
.D{
    grid-column: 1/2;
    grid-row: 2/3;
    overflow: hidden;
}
.E{
    grid-column: 2/4;
    grid-row: 2/3;
    overflow: hidden;
}
.F{
    grid-column: 1/3;
    grid-row: 3/4;
    overflow: hidden;
}
.G{
    grid-column: 3/4;
    grid-row: 3/4;
    overflow: hidden;
}
.thirdbox{
    width: 482px;
    height: 158px;
    margin-top: 95px;
    margin-left: calc(50% - 241px);
    position: relative;
    display: flex;
    flex-direction: column;
}
.crate>h1{
    position: absolute;
    width: 358px;
    height: 32px;
    left: 62.5px;
    top: -6px;
    font-family: $primaryFont;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 32px;
    text-align: center;
}
.hi>p{
    position: absolute;
    width: 415px;
    height: 24px;
    left: 35px;
    top: 69px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 14px;
    text-align: center;
}
.knopka{
    position: absolute;
    width: 482px;
    height: 40px;
    left: 0px;
    top: 118px;
}
input[type="text"]{
    position: absolute;
    width: 299px;
    height: 40px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    border: 1px solid #D4D4D4;
    box-sizing: border-box;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.073313);
    border-radius: 3px;
}
.knopka>button{
    position: absolute;
    width: 172.12px;
    height: 40px;
    left: 309px;
    top: 0px;
    background: #FF4E50;
    border-radius: 40px;
}



// Адаптивка



@media screen and (max-width: 800px){
    section{
        width: 748px;
        height: 100%;
        margin: auto;
        overflow: hidden;
    }
    .boxA{
        width: 236px;
        overflow: hidden;
    }
   
    .boxA>p{
        width: 196px;
    }
    .boxB{
        width: 236px;
        overflow: hidden;
    }
    .boxB>p{
        width: 196px;
    }
    .boxC{
        width: 236px;
        overflow: hidden;
    }
    .boxC>p{
        width: 196px;
    }
    .secondbox{ 
        width: 492px;
        height: 445px;
        flex-wrap: wrap;
        margin: auto;
    }
    .boxD{
        width: 236px;
        height: 205px;
    }
    .boxE{
        width: 236px;
        height: 205px;
    }
    .boxF{
        width: 236px;
        height: 205px;
    }
    .boxG{
        width: 236px;
        height: 205px;
    }
    .conteiner{
        width: 748px;
        grid-template-columns: 236px 236px 236px;
    }
}






@media screen and (max-width: 400px){
    section{
        width: 320px;
        height: 100%;
        margin: auto;
        overflow: hidden;
    }
    .first-box {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }
    .boxA{
        width: 300px;
        height: 240px;
        margin-bottom: 10px;
    }
    .boxA>img{
        width: 300px;
        height: 240px;
    }
    .boxA>h2{
        position: absolute;
        width: 250px;
        height: 58px;
        left: 20px;
        top: 99px;
    }
    .boxA>p{
        position: absolute;
        width: 250px;
        height: 57px;
        left: 20px;
        top: 167px;
    }
    .boxB{
        width: 300px;
        height: 240px;
        margin-bottom: 10px;
    }
    .boxB>img{
        width: 300px;
        height: 240px;
    }
    .boxB>h2{
        position: absolute;
        width: 250px;
        height: 29px;
        left: 20px;
        top: 129px;
    }
    .boxB>p{
        position: absolute;
        width: 250px;
        height: 57px;
        left: 20px;
        top: 167px;
    }
    .boxC{
        width: 300px;
        height: 240px;
    }
    .boxC>img{
        width: 300px;
        height: 240px;
    }
    .boxC>h2{
        width: 250px;
        height: 58px;
        left: 20px;
        top: 99px;
    }
    .boxC>p{
        position: absolute;
        width: 250px;
        height: 57px;
        left: 20px;
        top: 167px;
    }
    .text{
        position: relative;
        width: 280px;
        height: 54px;
        left: 10px;
        top: 0px;
    }
    .secondbox{ 
        width: 300px;
        height: 900px;
        flex-wrap: wrap;
        margin: auto;
    }
    .boxD{
        width: 300px;
        height: 205px;
    }
    .boxE{
        width: 300px;
        height: 205px;
    }
    .boxF{
        width: 300px;
        height: 205px;
    }
    .boxG{
        width: 300px;
        height: 205px;
    }
    .conteiner{
        width: 300px;
        display: flex;
        flex-wrap: wrap;
        margin: auto;
    }
    .A{
        width: 100%;
        height: 120px;
        overflow: hidden;
        position: relative;
    }
    .A>img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .B{
        width: 100%;
        height: 120px;
        overflow: hidden;
        position: relative;
    }
    .B>img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .C{
        width: 100%;
        height: 120px;
        overflow: hidden;
        position: relative;
    }
    .C>img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .D{
        width: 100%;
        height: 120px;
        overflow: hidden;
        position: relative;
    }
    .D>img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .E{
        width: 100%;
        height: 120px;
        overflow: hidden;
        position: relative;
    }
    .E>img{
        width: 100%;
        height: 100%;
        object-fit: none;
    }
    .F{
        width: 100%;
        height: 120px;
        overflow: hidden;
        position: relative;
    }
    .F>img{
        width: 100%;
        height: 100%;
        object-fit: none;
    }
    .G{
        width: 100%;
        height: 120px;
        overflow: hidden;
        position: relative;
    }
    .G>img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .thirdbox{
        width: 280px;
        height: 192px;
        margin:auto;
        margin-top: 50px;
        margin-bottom: 20px;
       }
    .crate>h1{
        position: absolute;
        width: 303px;
        height: 27px;
        left: -10px;
        top: 27px;
    }
    .hi>p{
        position: absolute;
        width: 415px;
        height: 24px;
        left: -70px;
        top: 63px;
    }
    .knopka{
        position: relative;
        width: 300px;
        height: 40px;
        display: flex;
        flex-direction: column;
    }
    input[type="text"]{
        position: absolute;
        width: 280px;
        height: 40px;
        left: 0px;
        top: 0px;

    }
    .knopka>button{
        width: 280px;
        height: 40px;
        left: 0px;
        top: 50px;
    }
    
    
    
}