$primary: #000;
$secondary:#fff;

$primaryFont: "MontserratBold";
$secondaryFonts: "MontserratNormal";
$thirdFonts: "MontserratMedium";

$media-xxl: 1440px;
$media-xl: 1200px;
$media-lg :900px;